[Unit]
Description=Ephemeral Token Agent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/rkt fetch ${eta_image}:${eta_tag}
ExecStart=/usr/bin/rkt run --set-env-file=/etc/eta/eta.env --port port-8887:8887 ${eta_image}:${eta_tag}

KillMode=mixed

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
